body {
  background-color: #7cc6fe;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: aliceblue;
}
.App {
  text-align: center;
  padding: 30px 10px;
}

h1, h2, h4, label {
  color: aliceblue;
}

tr {
  font-size: 16px;
  font-weight: 800;
}
